*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.header-first{
    background-color: rgb(19, 94, 242);
}
.container{
    width: 90%;
    max-width: 1230px;
}
h1{
    font-size: 16px;
}
nav{
    font-size: 12px;
}
a{
    text-decoration: none;
}
.border-custom-left{
    text-decoration: none;
    border-left: solid rgba(255, 255, 255, 0.397) 1px;
}
.border-custom-right{
    border-right: solid rgba(255, 255, 255, 0.397) 1px;
}
nav a span{
    margin-left: 5px;
}
nav a i{
    font-size: 14px;
}

/****head second*******************************************/
.container-header-second{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
}
.header-second{
    gap: 25px;
    max-width: 1230px;
    background-color: white;
    height: 94px;
}

.header-second img{
    width: 122px;
    margin-left: -10px;
    transition: 0.2s ease;
}
.scrolled{
    height: 80px;
    box-shadow: 8px 8px 18px -15px #00000091;
    transition: 0.2s ease;
}
.scrolled img{
    width: 80px;
}
.scrolled-height{
    height: 80px;
}
.navigation{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navigation .visible-a{
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(41, 41, 41);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.1s ease;
}
.navigation .visible-a:hover{
    color: rgb(19, 94, 242);
}
.navigation .visible-a .fa-chevron-down{
    font-size: 5px;
}
.deroulement{
    position: relative;
    transition: 0.3s ease-in;
}
.deroulement::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px; /* Étendre verticalement sans modifier le design */
}
.deroulement:hover .toggle{
    display: block;
}
.toggle{
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 8px 8px 18px -15px #00000091;
    width: 350px;
    padding: 15px 30px;
    gap: 10px;
    margin-top: 30px;
    background-color: white;
    transition: ease-in 0.3s;
}
.toggle a{
    color: rgb(19, 94, 242);
    font-weight: 600;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 16px;
    margin: 5px 0px;
    transition: ease-in 0.3s;
}
.toggle a:hover{
    color: rgb(141,195,242);
}
.deroulement::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px; /* Étendre verticalement sans modifier le design */
}
.deroulement:hover .visible-toggle{
    color: rgb(19, 94, 242);
}
.ecrite{
    display: none;
}
.oral{
    display: none;
    width: 310px;
}
.responsive-menu-header .fa-bars{
    display: none;
}
@media (min-width: 344px) and (max-width:768px){
    .responsive-menu-header .fa-bars{
        display: block;
        color: rgb(41, 41, 41);
    }
    .navigation{
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: -25px;
        top: 25px;
        width: 220px;
        background-color: white;
        padding: 10px;
        display: none;
        box-shadow: 8px 8px 18px -15px #00000091;

    }
    .deroulement::after {
        height: 0px;
    }
    .toggle{
        margin-top: 5px;
        font-size: 15px;
        width: 200px;
        background-color: rgba(240, 240, 240, 0.774);
        box-shadow: none;
        position: relative;
    }
    .toggle a{
        font-size: 15px;
        width: 160px;
        gap: 10px;
    }
    .header-second{
        width: 100%;
        justify-content: space-between;
        padding: 0 20px;
    }
    .header-second img{
        width: 100px;
        margin-left: 0;
    }
    .responsive-menu-header{
        position: relative;
    }
}
/*----------------------main--------------------*/
.main-page-connexion{
    padding-top: 30px;
    width: 80%;
    max-width: 1110px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 70px;
}
.card-first{
    height: 150px;
    background: url(images/reception2.jpg) center center;
    background-size: cover;
    display: flex;
    position: relative;
}
.card-first::before{
    content: '';
    background: linear-gradient(to right,rgba(0, 149, 186, 0.9),rgba(108, 80, 167, 0.9));
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.card-first .infos{
    color: white;
    width: 35%;
    text-align: center;
    line-height: 30px;
    height: 120px;
    z-index: 2;
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.card-first .infos p:first-child{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
.card-first .infos p:last-child{
    font-weight: 600;
}
.card-second{
    background-color: rgb(68, 68, 68);
    display: flex;
}
.card-second a{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    padding: 15px 12px;
    font-size: 15px;
    transition: 0.3s ease-in;
}
.card-second a:hover{
    background-color: rgb(41, 41, 41);
}

@media (min-width: 344px) and (max-width:768px){
    .card-second{
        flex-wrap: wrap;
    }
}



.main-page-connexion h2{
    text-align: center;
    color: rgb(26, 37, 56);
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.button{
    text-align: center;
    color: white;
    width: 55%;
    margin: auto;
    border-radius: 20px;
    padding: 17px 20px;
    background-color: rgb(35,104,242);
    font-size: 20px;
    transition: 0.4s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.button .fa-arrow-right{
    font-size: 15px;
}
.button:hover{
    transform: scale(1.1);
}

@media (min-width: 375px) and (max-width:768px){
    .card-first .infos{
        width: 300px;
    }
    .infos{
        font-size: 15px;
    }
}

/***********************footer**************************/
footer{
    margin-top: 55px;
    padding: auto;
    color: white;
}
.footer-first{
   background: linear-gradient(to bottom,rgb(21,95,242),rgb(41,108,242));
   padding: 10px 0;
}

.contain{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.pages{
    width: 300px;
    margin-right: 30px;
}
.pages a{
    font-size: 15px;
}
.compte{
    width: 350px;
    margin-right: 35px;
}
.compte h3, .social2 h3,.propos h3{
    font-size: 20px;
}
.parametre{
    background-color: rgb(19,94,242);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-left: 10px;
}
.parametre a{
    color: white;
    transition: 0.3s ease-in;
    padding: 20px;
}
.parametre a i{
    margin-right: 5px;
}
.parametre a:hover{
    color: rgb(41, 41, 41);
    background-color: white;
}
.blocks{
    margin-right: 10px;
}
.pages h3{
    letter-spacing: 3px;
}
.options a, .suite a{
    color: white;
    border-bottom: solid 1px white;
    padding:  15px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.suite{
    width: 90%;
    font-size: 15px;
}
.options a:last-child,.suite a:last-child{
    border-bottom: none;
}
.footer-first .options, .parametre,.suite{
    display: flex;
    flex-direction: column;
}
.propos p{
    width: 300px;
    font-size: 15px;
    line-height: 25px;
}
footer h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.social2{
    margin-bottom: 20px;
}
.links-socials-network{
    margin: 25px 0px;
}
.links-socials-network a{
    padding: 10px 15px;
    border-radius: 200px;
    margin: 0 2px;
    font-size: 20px;
    color: white;
}
.paiements{
    display: flex;
    flex-direction: column;
}
.paiements .clique{
    color: black;
    background-color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 10px 0px;
    transition: 0.3s ease-in;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
}
.paiements .clique:hover{
    transform: scale(0.9);
}
.accepter{
    width: 280px;
    margin-bottom: 10px;
}
.mode-paiements-footer-first{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 310px;
    height: 290px;
}
.mode-paiements-footer-first div{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.mode-paiements-footer-first img{
    width: 120px;
    margin: 5px;
}
.footer-second{
    display: flex;
    color: rgba(0, 0, 0, 0.623);
    align-items: center;
    padding: 20px 0px;
    font-size: 11px;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    max-width: 1200px;
}
.footer-second a{
    color: #141414d7;
    font-weight: 600;
}
@media (min-width: 344px) and (max-width:768px){
    .contain{
        flex-wrap: wrap;
        width: 98%;
        margin: auto;
        gap: 10px;
    }
    .footer-second{
        flex-direction: column;
        gap: 20px;
    }
}
